body
{
    font-family: sans-serif;
}

.title
{
    background: yellow;
}

.subtitle
{
    font-size: 2.5em;
}

.div-title
{
    color: gray;
}

.skills li
{
    list-style: square;
}

.training .link
{
    color: red;
}

.training li
{
    list-style: square;
}
