body
{
    font-family: sans-serif;
}

.image-wrop
{
    text-align: center;
}

.u-max-full-width
{
    height: 300px;
    border: 2px solid gray;
}

.title
{
    background: yellow;
}

.subtitle
{
    font-size: 2.5em;
}

.div-title
{
    color: gray;
}

.skills li
{
    list-style: square;
}

.training .link
{
    color: red;
}

.training li
{
    list-style: square;
}
